body{
    font-size: 0.9rem;
}
.icon--calendar {
    font-size: 15px;
}
#particles-js {
    width: 100%;
    height: 100%;
}
.ps-absolut {
    position: absolute;
}
.bg--segundaria {
    background: #f9f9f9;
}
.list-none {
    list-style: none;
}
.bg--elementos {
    background: #ececec;
}
.bg--elementouno {
    background: #ffffff;
}
.bg--btnuno {
    background: #dd373e;
    color: white;
}
.usuario_imagen {
    width: 40px;
    margin: 0 0 0 1em;
}
.usuario--nombre {
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.usuario--nombre--dark {
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.usuario--paquete--dark {
    font-size: 14px;
    color: black;
}
.usuario--paquete {
    font-size: 14px;
    color: white;
}
.header {
    background: url("../img/fondoheader.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.header__modulo {
    background: url("../img/fondoheader.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
.navbar-pri a {
    color: white;
    font-weight: 600;
}
.navbar-pri a:hover {
    background: #dd373e;
    color: white;
}
.header_contenido {
    width: 95%;
}
.header--titulo__rojo {
    color: #dd373e;
}
.header--titulo {
    color: white;
    font-weight: bold;
    text-align: center;
}
.header--subtitulo {
    color: white;
    text-align: center;
}
.header--btnaccion {
    padding: 10px 30px;
    border: solid 0.5px;
    border-color: white;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.header--btnaccion:hover {
    background: white;
    color: #dd373e;
}
.mdinformaticon--titulo {
    color: #dd373e;
    font-weight: bold;
    font-size: 25px;
}
.mdinformation--titulo__aditivo {
    background: #dd373e;
    width: 299px;
    height: 7px;
    margin-bottom: 1em;
}
.modulo__cabeza {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modulo--titulo {
    color: #dd373e;
    font-size: 25px;
}
.modulo--titulo__aditivo {
    background: #dd373e;
    text-align: center;
    width: 100px;
    height: 7px;
    margin-bottom: 1em;
}
.modulo__logos {
    margin: 2em 0 0 0;
}
.logo--img {
    width: 100px;
}
/* -------------- */
.resultado__titulo{
    color: #5A5A5A;
    font-size: 14px;
}
.resultado__dato{
    font-size: 12px;
}
.resultado__dato--resaltar{
    color: #17a2b8 !important;
    font-size: 12px;
    font-weight: 400;
}
/* Comensamos a hacer los indicadores de medicion */
@media (max-width: 576px) {
}
@media (max-width: 768px) {
    .navbar-nav {
        background: #ffffffb3;
    }
    .navbar-nav a {
        color: black;
    }
}
.paquete {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paquete--titulo {
    color: #116fa3;
}
.paquete__precio {
    margin: 1em 0 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.precio--numero {
    font-weight: bold;
}
.precio--duracion {
    align-items: center;
    font-size: 15px;
}
.paquete__contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.paquete__accion {
    margin: 2em 0 0 0;
}
.accion--boton {
    background: #dd373e;
    color: white;
    padding: 0.5em 1em;
}
@media (max-width: 992px) {
}
.modulo__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
/* modificacon los recursos originales de bootstrap */
.navbar-pri .navbar-toggler-icon {
    background: url("../img/icon/menu.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-light .navbar-toggler {
    border-color: white;
}
.navbar-nav {
    padding: 0 0 0 2em;
}
.modulo__formulario {
    width: 600px;
    background: white;
}

/* EN ESTE PUNTO LOS ESTYLOS PARA LAS BUSQUEDAS */
.modulo__header--busqueda {
    background: url("../img/fdprodutos.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.modulo__header--busquedaexportador {
    background: url("../img/fbexportador.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.modulo__header--busquedaimrpotador {
    background: url("../img/fbimportador.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.menu--link {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bolder;
    letter-spacing: 1px;
}
.graf-estad{
    margin-top: 20px;
}